/* 
- Strong cyan: hsl(172, 67%, 45%)

- Very dark cyan: hsl(183, 100%, 15%)
- Dark grayish cyan: hsl(186, 14%, 43%)
- Grayish cyan: hsl(184, 14%, 56%)
- Light grayish cyan: hsl(185, 41%, 84%)
- Very light grayish cyan: hsl(189, 41%, 97%)
- White: hsl(0, 0%, 100%)

Body Copy
- Font size (form inputs): 24px
- Weights: 700
 */

body {
    background-color: #c5e3e7;
    margin: 0;
    padding: 0;
    border: 0;
    position: relative;
    scroll-behavior: none;
    font-family: 'Space Mono', monospace;
}

div {
    box-sizing: border-box;
    border: black 1px dotted ;
}

h1 {
    text-align: center;
    font-size:x-small;
    color: #597c7e;
}

.parent {
    height: 40vh;
    width: 60vw;
    margin-left: 20%;
    display: flex;
    justify-content: center;
}

.child1,.child2 {
    margin: 10px;
}

.row1 {
    display: flex;
}



#select-tip {
    margin: 0;
    margin-top: 10px;
}


.tip-section {
    /* display: flex; */
    display: grid;
    grid-template-rows: 2fr;
    justify-content: space-evenly;
    flex-direction: row;
}


#Custom-input {
    display: inline;
}



.child1{
    width: 50%;
}

.child2{
    width: 50%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    background-color: #102702;
    color: whitesmoke;
    border-radius: 7px;
}

.person {
    font-size: 0.7rem;
}

.btn {
    margin: 0 20px 0 20px;
}


.attribution {
    display: absolute;
    transform: translateY(200px)
}